

div {
    border-bottom: 5px;
    border-top: 5px;
}
.inline-block {
   
    vertical-align: top;
    display: flex;
    justify-content: space-between;


}
.logo {
    width: 23%;
    padding: 1%;  
    
}
.nav {
    display: flex;
    width: 73%;
    padding: 1%;
  
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px;
    height:max-content;
    padding-top: 10px;

}
h1 {
  font-family: wild mango;
  font-size: 48px;
  color: white;
  padding: 0%;
    margin-top: 60px;
    margin-bottom: 0px;
    text-align: left;

}
h2 {
    font-family: heliotrope;
    font-size: 36px;
    font-weight: lighter;
    color: white;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
}
p {
    display: flex;
    font-family: poppins;
    color: white;
    justify-content: flex-end;
    width: 475px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 125px;
    text-align: left;
    
}

a {
    margin-bottom: 75px;
    margin-top: 5px;
}
.topnav {
    display: inline;
    display: flex;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 16px;
    list-style-type: none;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
   
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.heroimg {
    display: flex;
    background-image: cover;
    background-position-y:center;
    background-position-x:center;
    background-image: cover;
    justify-content: flex-end;
    margin: 0px;
    min-height: 455px;
    max-height: 475px;
    
    
    

    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 100px;
    text-align: left;
    
    
}


.logofooter {
    display: flex;
    width: 46%;
    padding: 1%;  
    
}
.footercontent {
    
    display: flex;
    width: 48%;
    padding: 1%;

}
.footer {
    
    display: inline-block;
    display: flex;
    margin: 10px;
    
   
   
    
    
     
}
.footercontent {
    
    display: inline-block;
    display: flex;
    font-family: poppins;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    justify-content: flex-end;
    align-items: center;
    margin-left: 100px;
    
    
   
   
    
}

.footercontent li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    text-wrap: nowrap;
    
   
    
    
    
}

.topnav li {
    display: inline-block;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    padding: 10px;
   
    

}

.footersection {
   
    display: inline-block;
    background-color: #DA8580;
    
    
    
    
   
}

.logofooter {
    display: inline-block;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    vertical-align: top;
    justify-content: space-between;
    padding-right: 100px;
    margin-left: 90px;
   
    }

    .myskills {
        height: 140px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

.skillsparent {
    display:grid;
    grid-template-columns: .3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 250px;
    grid-area: "whatido, skill1child, skill2child, skill3child";
  

    
   
    
  
    
    
    
}

.skill1child {
    background-color: #95BFB3;
    max-height: 200px;
    

    

}

.skill2child {
    background-color: #D9A86D;
    max-height: 200px;
  

}

.skill3child {
    background-color:#617EA6;
    max-height: 200px;
}

.whitebackground {
    display: flex;
    justify-content: center;
    font-family: poppins; 
    text-transform: uppercase;
    font-weight:normal;
    align-items: center;
    background-color:#DA8580;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
    

}


.workparent {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    height: 1000px;
    grid-area: "skill1child, skill2child, skill3child";
 
   
    padding-bottom: 10px;
    
   
    
  
    
    
    
}

.work1child {
    background-color: #95BFB3;
    display: inline-block;
    display: flex;
    align-items: flex-end;
    

    

    

}

.work2child {
    background-color: #D9A86D;
    display: inline-block;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  

}

.work3child {
    background-color:#617EA6;
    
}

.whitebackground {
    display: flex;
    justify-content: center;
    font-family: poppins; 
    text-transform: uppercase;
    font-weight:normal;
    align-items: center;
    background-color:#DA8580;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    

}

.junkdrawer {
    height: 250px;
    padding-left: 50px;
}

.homescreen {
    height: 250px;
    padding-left: 20px;
}

.meepleathon {
    height: 250px;
    padding-right: 20px;

}

.registration {
    height: 250px;
    padding-right: 50px;
}

.junklogo{
    height: 75px;
    padding-left: 150px;
    padding-bottom: 5px;
    align-items: center;
  
}

.meeplelogo {
    height: 75px;
    padding-right: 140px;
    padding-left: 40px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    body {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

.infojunk {
    padding-left: 150px;
    padding-right: 60px;
    max-width: 320px;
  }

.infomeeple {
    padding-right: 150px;
    padding-left: 60px;
    max-width: 320px;
  }
.whatido{
    display: flex;
    max-height: 200px;
    background-color:#DA8580;

}

.skill1child{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .skill2child{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .skill3child{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
.illustration {
    display: flex;
    height: 100px;
    
    
   
}
.ui {
    display: flex;
    height: 130px;
    padding-top: 25px;

    
}

.ux {
    display: flex;
    height: 90px;
    padding-left: 20px;
}

.illustrationinfo {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding-left: 20px;

  }
  .uiinfo {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding-left: 15px;
  }

  .uxinfo {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding-left: 15px;
  }
  .dotext {
    display: flex;
    font-size: 32px;
    font-family: poppins;
    font-weight:normal;
    text-align: center;
    color: white;
    rotate: -90deg;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    
  }

  .topnav a {
    text-decoration: none;
    display: inline-block;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    padding: 10px;
    color: black;
    
    
  }

